/* ## override CSS */

/* ToDO: document useful CSS configuration/modifications (with examples below) */

/* note: include this CSS as the last lexically in order to override without having to use increased CSS specificity */

/* required CodeMirror CSS */
/* # minimally required prefix configuration */
.CodeMirror-prefix { width: 1em; }
.CodeMirror-prefix-text { padding-left: 0.25em; }
.CodeMirror-prefix.CodeMirror-prefix-sizer { width: 0.5em; padding-left: 0; }

/* ### .CodeMirror customization */
.CodeMirror {
  border: 1px solid gainsboro;
  border-radius: 0.2em;
  /* border-radius: 5px; */
}
/* #* gutter configuration */
.CodeMirror-gutter-extra {
  min-width: 2em;
  background: whitesmoke/* f5f5f5 */
  ;
  /* #f7f7f7 default border color for CodeMirror */
}
/* #** prefix gutter customization */
/*.CodeMirror-gutters { background: red; }*/
/*.CodeMirror-gutter-extra { background-color: hsla( 0, 0%, 50%, 0.1); }*/
.CodeMirror-prefix { background-color: hsla( 0, 0%, 50%, 0.1); /*background-color: green;*/}
.CodeMirror-prefix-text { color: hsla( 0, 0%, 50%, 0.75); /*background-color: green;*/}

/*  CodeMirror CSS uses '.CodeMirror pre', use same here for specificity */
/*.CodeMirror, .CodeMirror pre { font-family: "Fira Code", "Open Sans Mono", "Anonymous Pro", "Consolas", "Lucida Console", monospace;*/
/*.CodeMirror, .CodeMirror pre { font-size: 1em; line-height: 1.3em; }*/
/*.CodeMirror, .CodeMirror pre { font-family: inherit; font-size: 1em; line-height: 1.3em; }*/
.CodeMirror { font: inherit; }
.CodeMirror, .CodeMirror pre { font-variant-ligatures: none; -webkit-font-variant-ligatures: none; }
/*.CodeMirror, .CodeMirror pre { font-variant-ligatures: contextual; -webkit-font-variant-ligatures: contextual; }*/

/* enable visible selection (regardless of theme) */
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white !important; text-shadow: none; }

.CodeMirror pre { padding: 0 0.33em; } /* default == 0 4px */
.CodeMirror-lines { padding: 0.125em 1px; } /* vertical padding */
