/* ## override CSS */

/* ToDO: document useful CSS configuration/modifications (with examples below) */

/* note: include this CSS as the last lexically in order to override without having to use increased CSS specificity */

/* required CodeMirror CSS */
/* minimally required gutter configuration */
.CodeMirror-gutter-extra { min-width: 2em; }
/* # minimally required prefix configuration */
.CodeMirror-prefix { width: 1em; }
.CodeMirror-prefix-text { padding-left: 0.25em; }
.CodeMirror-prefix.CodeMirror-prefix-sizer { width: 0.5em; padding-left: 0; }

/* ### .CodeMirror default customizations */
/* #* code block border configuration */
.CodeMirror {
  border: 1px solid gainsboro /* #f7f7f7 == default CodeMirror border color */;
  border-radius: 0.2em;
}
/* #* gutter configuration */
.CodeMirror-gutter-extra { background-color: hsla( 0, 0%, 50%, 0.1) /* #f5f5f5 == default CodeMirror color */; }
/* #** prefix gutter customization */
.CodeMirror-prefix { background-color: hsla( 0, 0%, 50%, 0.1); }
.CodeMirror-prefix-text { color: hsla( 0, 0%, 50%, 0.75); }

/*  CodeMirror CSS uses '.CodeMirror pre', use same here for specificity */
/*.CodeMirror, .CodeMirror pre { font-family: "Fira Code", "Open Sans Mono", "Anonymous Pro", "Consolas", "Lucida Console", monospace;*/
/*.CodeMirror, .CodeMirror pre { font-size: 1em; line-height: 1.3em; }*/
/*.CodeMirror, .CodeMirror pre { font-family: inherit; font-size: 1em; line-height: 1.3em; }*/
.CodeMirror { font: inherit; }
.CodeMirror, .CodeMirror pre { font-variant-ligatures: none; -webkit-font-variant-ligatures: none; }
/*.CodeMirror, .CodeMirror pre { font-variant-ligatures: contextual; -webkit-font-variant-ligatures: contextual; }*/

/* enable visible selection (regardless of theme) */
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white !important; text-shadow: none; }

.CodeMirror pre { padding: 0 0.33em; } /* default == 0 4px */
.CodeMirror-lines { padding: 0.125em 1px; } /* vertical padding */
