/*
// css selectors
// ref: [base css ~ sss.css] https://github.com/Thiht/sss/blob/master/sss.css
// see http://www.cssfontstack.com for font stack info
*/

/* W3C recommended default CSS ~ from https://www.w3.org/TR/CSS21/sample.html @@ http://archive.is/U2UF */
html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}

/* from Firefox default CSS @ https://hg.mozilla.org/mozilla-central/file/tip/layout/style/res/html.css @@ http://archive.is/apSZc*/
/* inlines */

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

b, strong {
  font-weight: bolder;
}

i, cite, em, var, dfn {
  font-style: italic;
}

tt, code, kbd, samp {
  font-family: -moz-fixed;
}

u, ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

mark {
  background: yellow;
  color: black;
}

/* #### */

body { font-family: Lora, "Noto Serif", "DejaVu Serif", Palatino, serif; font-size: 1.2rem; line-height: 1.5rem; }
/*body { max-width: 90%; padding-left: 5%;}*/

h1, h2, h3, h4, h5, h6 { font-family: "Fira Sans", "Open Sans", "DejaVu Sans", Calibri, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Fira Sans", "Open Sans", "DejaVu Sans", Calibri, Arial, sans-serif; }
h1, h2 { font-weight: 400; }
h3, h4 { font-weight: 300; }
h5, h6 { font-weight: 200; }
h1 { font-size: 2.5rem; margin-block-start: 0.67em; margin-block-end: 0.67em; }
h2 { font-size: 2rem; margin-block-start: 0.83em; margin-block-end: 0.83em; }
h3 { font-size: 1.75rem; margin-block-start: 1em; margin-block-end: 1em; }
h4 { font-size: 1.5rem; margin-block-start: 1.33em; margin-block-end: 1.33em; }
h5 { font-size: 1.25rem; margin-block-start: 1.67em; margin-block-end: 1.67em; }
h6 { font-size: 1.25rem; margin-block-start: 2.33em; margin-block-end: 2.33em; }

listing { margin-block-start: 1rem; margin-block-end: 1rem; }
p { margin-block-start: 1rem; margin-block-end: 1rem; }

/*
// // see jsfiddle @ http://jsfiddle.net/5HQ7p
// h1:after { content:' '; display:block; border:1px dashed #505050; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; }
*/
/*
h1.bordered-b { border-bottom: 0.05em solid lightgrey; border-radius: 0.01em; }
*/
h6 { color: grey }
pre { border-left: 0.25em solid green; border-left-color: rgba(0,128,0,0.8); padding: 0 0.5em; }
code { font-family: "Fira Mono", "Open Sans Mono", "Anonymous Pro", "Consolas", "Lucida Console", monospace; font-size: 80%; background: /* #EEE */ gainsboro; padding: 0.1em 0.25em; }
code { border: 0.01em solid teal; border-color: rgba(0,128,0,0.5); border-radius: 0.1em; }
pre code { padding: 0; border: none; background: none; font-size: 75%; line-height: 1.5; }
sup code { padding: 0; background: none; font-size: 75%; border: none; }
table { width: auto; }

/*
//.hljs-number,.hljs-symbol,.hljs-literal,.hljs-deletion,.hljs-link { color: #cc6666 }
//.hljs-keyword { color: red }
*/

blockquote {
  border-left: 0.25em solid /* #EEE */ gainsboro;
  margin: 0;
  padding: 0 0.5em;
}

table {
  border-collapse: collapse;
  font-size: 100%;
}
table + table {
  margin-top: 1em;
}
thead {
  background: /* #EEE */ gainsboro;
  background: rgba(238,238,238,0.8);
  text-align: left;
}
th, td, caption {
  border: /* 1px */ 0.05em solid /* #EEE */ gainsboro;
}
th, td {
  padding: /* 5px 10px */ 0.35em 0.7em;
}
caption {
  padding: 0 0.7em;
  border-collapse: collapse;
}
hr {
  background: /* #EEE */ gainsboro;
  border: 0;
  height: /* 1px */ 0.05em;
}
