// clipboardjs clippy snippet styles

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    -maybe-border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}
.snippet-container:hover .btn {
    opacity: 1;
}
//.snippet-container { overflow: visible !important; }
.snippet-container .btn {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 2px 4px 4px 6px;
    -no-position: absolute;
    float: right;
    -prior-right: 4px;
    -prior-top: 4px;
    right: 0em;
    top: 0em;
}
